<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="homepage">
    <nav id="main-nav" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <span class="navbar-text d-none d-sm-inline-block d-lg-none d-xl-inline-block">Интернет-магазин</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Каталог товаров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Доставка и оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
            <ul class="ml-3 navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-shopping-cart"></i> Корзина <span class="badge badge-warning">2</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <header id="header" class="d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <h1 id="page-header-h1">Homepage</h1>
            <div id="page-description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam odio maxime hic deserunt laudantium iste
            </div>
        </div>
    </header>

    <div id="content">
        <main id="main">
            <section class="section-type-one">
                <div class="section-type-one__title container">
                    <h2>Products group</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="product-card col-12 col-md-6 col-lg-4 mb-4">
                            <div class="product-card__inner">
                                <div class="product-card__img">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/256x256" alt="">
                                    </a>
                                </div>
                                <div class="product-card__title">
                                    <a href="#">Product name</a>
                                </div>
                                <div class="product-card__price">
                                    <div class="product-card__price--discount">4500 руб</div>
                                    <div class="product-card__price--item">3000 руб</div>
                                </div>
                            </div>
                            <div class="product-card__add-to-cart">
                                <button class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> В корзину
                                </button>
                            </div>
                        </div>
                        <div class="product-card col-12 col-md-6 col-lg-4 mb-4">
                            <div class="product-card__inner">
                                <div class="product-card__img">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/256x256" alt="">
                                    </a>
                                </div>
                                <div class="product-card__title">
                                    <a href="#">Product name</a>
                                </div>
                                <div class="product-card__price">
                                    <div class="product-card__price--discount">4500 руб</div>
                                    <div class="product-card__price--item">3000 руб</div>
                                </div>
                            </div>
                            <div class="product-card__add-to-cart">
                                <button class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> В корзину
                                </button>
                            </div>
                        </div>
                        <div class="product-card col-12 col-md-6 col-lg-4 mb-4">
                            <div class="product-card__inner">
                                <div class="product-card__img">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/256x256" alt="">
                                    </a>
                                </div>
                                <div class="product-card__title">
                                    <a href="#">Product name</a>
                                </div>
                                <div class="product-card__price">
                                    <div class="product-card__price--discount">4500 руб</div>
                                    <div class="product-card__price--item">3000 руб</div>
                                </div>
                            </div>
                            <div class="product-card__add-to-cart">
                                <button class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> В корзину
                                </button>
                            </div>
                        </div>
                        <div class="product-card col-12 col-md-6 col-lg-4 mb-4">
                            <div class="product-card__inner">
                                <div class="product-card__img">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/256x256" alt="">
                                    </a>
                                </div>
                                <div class="product-card__title">
                                    <a href="#">Product name</a>
                                </div>
                                <div class="product-card__price">
                                    <div class="product-card__price--discount">4500 руб</div>
                                    <div class="product-card__price--item">3000 руб</div>
                                </div>
                            </div>
                            <div class="product-card__add-to-cart">
                                <button class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> В корзину
                                </button>
                            </div>
                        </div>
                        <div class="product-card col-12 col-md-6 col-lg-4 mb-4">
                            <div class="product-card__inner">
                                <div class="product-card__img">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/256x256" alt="">
                                    </a>
                                </div>
                                <div class="product-card__title">
                                    <a href="#">Product name</a>
                                </div>
                                <div class="product-card__price">
                                    <div class="product-card__price--discount">4500 руб</div>
                                    <div class="product-card__price--item">3000 руб</div>
                                </div>
                            </div>
                            <div class="product-card__add-to-cart">
                                <button class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> В корзину
                                </button>
                            </div>
                        </div>
                        <div class="product-card col-12 col-md-6 col-lg-4 mb-4">
                            <div class="product-card__inner">
                                <div class="product-card__img">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/256x256" alt="">
                                    </a>
                                </div>
                                <div class="product-card__title">
                                    <a href="#">Product name</a>
                                </div>
                                <div class="product-card__price">
                                    <div class="product-card__price--discount">4500 руб</div>
                                    <div class="product-card__price--item">3000 руб</div>
                                </div>
                            </div>
                            <div class="product-card__add-to-cart">
                                <button class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center mt-4">
                    <a href="#" class="btn btn-outline-primary">Перейти в каталог товаров</a>
                </div>
            </section>
        </main>
    </div>

    <footer id="footer" class="py-4">
        <div class="container text-center">
            &copy; 2020 Lorem, ipsum dolor sit amet consectetur adipisicing elit
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js" integrity="sha256-0vuk8LXoyrmCjp1f0O300qo1M75ZQyhH9X3J6d+scmk=" crossorigin="anonymous"></script>

    <script src="js/scripts.js"></script>
</body>
</html>