#section-categories {
    background-image: url('../../images/bg-categories.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    min-height: 500px;
}

#section-categories__inner {
    text-align: center;
}

#section-categories .category:not(:last-child) {
    margin-bottom: 15px;
}

#section-categories .category:not(:last-child)::after {
    background-color: rgba(0, 0, 0, .3);
    content: "";
    display: block;
    width: 64px;
    height: 1px;
    margin: 15px auto 0;
}

#section-categories .category a {
    font-size: 1.9rem;
    color: white;
    text-shadow: 1px 2px 1px black;
    transition: all ease-in-out .3s;
}

#section-categories .category a:hover {
    color: black;
    text-shadow: none;
    text-decoration: none;
}