{% extends 'base.html' %}


{% block body_classes %}{% spaceless %}
    {{ block.super }} products-list
{% endspaceless %}{% endblock %}


{% block content %}
    {% include 'shop/includes/search_section.html' %}

    {% include 'shop/includes/filters-products.html' %}

    {% if products %}
        <main id="main">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        {% include 'shop/cards/product-card.html' %}
                    {% endfor %}
                </div>
            </div>
        </main>

        {% include 'shop/includes/pagination.html' %}
    {% endif %}
{% endblock %}